name: Publish Packages

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write # to create release
  id-token: write # OpenID Connect token needed for provenance

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0
          standalone: true

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: pnpm install --global npm@11.6.2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Style check
        run: pnpm run format:check

      - name: Build
        run: pnpm run build

      - name: Publish to npm
        run: pnpm publish -r --filter "{packages/*}" --access public --no-git-checks
